<!DOCTYPE html>
<html lang="es">

<head>
    <script>
    var gptadslots = [],
        googletag = googletag || {};
    googletag.cmd = googletag.cmd || []
    </script>
    <script src="//active.cache.el-mundo.net/js/an_ma.js"></script>
    <script src="//active.cache.el-mundo.net/js/1475575201_marca.js"></script>
    <script type='text/javascript'>
    function loadFreemium() { if ("undefined" != typeof frm && null != frm && "function" == typeof frm) frm();
        else { var e = document.createElement("script");
            e.async = !0, e.type = "text/javascript"; var t = "https:" == document.location.protocol;
            e.src = (t ? "https:" : "http:") + "//active.cache.el-mundo.net/js/1475575201_marca.js"; var r = document.getElementsByTagName("script")[0];
            r.parentNode.insertBefore(e, r), frm() } var ter = document.createElement("script");
        ter.async = !0, ter.type = "text/javascript"; var useSSL = "https:" == document.location.protocol;
        ter.src = (useSSL ? "https:" : "http:") + "//active.cache.el-mundo.net/js/ter.js"; var node = document.getElementsByTagName("script")[0];
        node.parentNode.insertBefore(ter, node);
        clearTimeout(secFrm) }
    var secFrm = setTimeout(function() { loadFreemium() }, 5e3);
    </script>
    <script type='text/javascript'>
    function initAdServer() { loadFreemium() }
    </script>
    <script type='text/javascript' async>
    var pbjs = pbjs || {};
    pbjs.que = pbjs.que || [],
        function() { var e = document.createElement("script");
            e.type = "text/javascript", e.async = !0, e.src = "//active.cache.el-mundo.net/js/pbma.js"; var t = document.getElementsByTagName("head")[0];
            t.insertBefore(e, t.firstChild) }();
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <title data-ue-c="innerHTML" data-ue-u="title">Resultados de La Liga Santander y próximos partidos en MARCA.com</title>
    <meta name="keywords" content/>
    <meta name="news_keywords" content/>
    <!-- ##IBEXCLU -->
    <link data-ue-c="href" data-ue-u="canonical" rel="canonical" Href="http://www.marca.com/resultados/futbol/liga-santander.html" />
    <link rel="publisher" Href="https://plus.google.com/u/0/+marca" />
    <!-- ##FBEXCLU -->
    <meta name="robots" content="index,follow" />
    <meta name="theme-color" content="#CC0000">
    <meta name="organization" content="Unidad Editorial Información Deportiva S.L." />
    <meta name="DC.date.issued" content="2017-07-26T13:35:04Z" />
    <meta property="article:published_time" content="2017-07-26T13:35:04Z" />
    <meta property="article:modified_time" content="2018-01-22T11:46:34Z" />
    <meta property="article:section" content="Futbol/primera-division" />
    <meta name="twitter:site" content="@marca" />
    <meta name="twitter:creator" content="@marca" />
    <meta data-ue-u="twitter:title" name="twitter:title" content="Resultados de La Liga Santander y próximos partidos en MARCA.com" />
    <meta data-ue-u="twitter:description" name="twitter:description" content="La Liga Santander de fútbol 2017/2018 al detalle. Todos los resultados, tablas y horarios de los próximos partidos podrás encontrarlos en MARCA.com" />
    <meta data-ue-u="description" name="description" content="La Liga Santander de fútbol 2017/2018 al detalle. Todos los resultados, tablas y horarios de los próximos partidos podrás encontrarlos en MARCA.com" />
    <meta data-ue-u="og:title" property="og:title" content="Resultados de La Liga Santander y próximos partidos en MARCA.com - Marca.com" />
    <meta data-ue-u="og:description" property="og:description" content="La Liga Santander de fútbol 2017/2018 al detalle. Todos los resultados, tablas y horarios de los próximos partidos podrás encontrarlos en MARCA.com" />
    <meta property="og:url" content="http://www.marca.com/resultados/futbol/liga-santander.html" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Marca.com" />
    <meta property="fb:app_id" content="160427764002568" />
    <meta name="twitter:card" content="summary" />
    <meta data-ue-u="twitter:image" name="twitter:image" content="http://e00-marca.uecdn.es/assets/v9/img/twitter-imagen-marca.png" />
    <meta data-ue-u="og:image" property="og:image" content="http://e00-marca.uecdn.es/assets/v9/img/logo-marca.png" />
    <link href="http://e00-marca.uecdn.es/rss/portada.xml" rel="alternate" type="application/rss+xml" title="RSS Portada - Marca.com" />
    <link href="http://e00-marca.uecdn.es/rss/futbol/primera-division.xml" rel="alternate" type="application/rss+xml" title="RSS de primera-division - Marca.com" />
    <link href="http://e00-marca.uecdn.es/favicon.ico" type="image/ico" rel="icon" />
    <link href="http://e00-marca.uecdn.es/favicon.ico" type="image/ico" rel="shortcut icon" />
    <link rel="apple-touch-icon-precomposed" href="http://e00-marca.uecdn.es/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://e00-marca.uecdn.es/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://e00-marca.uecdn.es/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://e00-marca.uecdn.es/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://e00-marca.uecdn.es/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://e00-marca.uecdn.es/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://e00-marca.uecdn.es/apple-touch-icon-152x152-precomposed.png">
    <meta name="apple-itunes-app" content="app-id=312407627">
    <link rel="stylesheet" type="text/css" href="http://e00-marca.uecdn.es/assets/v9/css/core-marca-mobile.css">



    <link rel="stylesheet" href="styles/ue-c-lineup.css">




    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v9/js/jquery.2.2.1.js"></script>
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v9/js/ue-utils.js"></script>
    <link rel="stylesheet" href="http://e00-marca.uecdn.es/assets/v9/css/estaticas/futbol.css" type="text/css" media="all" />
    <script class="kxct" data-id="qu0qz3ohn" data-timing="async" data-version="1.9" type="text/javascript">
    window.Krux || ((Krux = function() { Krux.q.push(arguments) }).q = []);
    (function() { var k = document.createElement('script');
        k.type = 'text/javascript';
        k.async = true; var m, src = (m = location.href.match(/\bkxsrc=([^&]+)/)) && decodeURIComponent(m[1]);
        k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" : (location.protocol === "https:" ? "https:" : "http:") + "//cdn.krxd.net/controltag?confid=qu0qz3ohn"; var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(k, s); }());
    </script>
    <script src="//assets.adobedtm.com/73515ad8d49a3d35d5aa6bc81b535d3a8761d99c/satelliteLib-43269810dc56b0fa3684a8c690c1353d9585cd0f.js"></script>
</head>

<body class=" ">
    <div id="pixelcontabilizacionmarca" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z-Index:1"><img src="http://pixelcounter.marca.com/pixelcontabilizacion/pixelcontabilizacion.gifctl?r=http%3A%2F%2Fwww%2Emarca%2Ecom%2Fresultados%2Ffutbol%2Fliga%2Dsantander%2Ehtml&amp;s=marca&amp;d=WnB3m8CoFaoAAEslna0" width="1" height="1" alt="" />
        <script type="text/javascript">
        function DM_prepClient(csid, client) { var cat = document.location.href.split('/');
            url_section = cat[6];
            client.DM_addEncToLoc("as_section", url_section); }
        </script>
    </div>
    <script type="text/javascript" language="javascript" src="http://estaticos.cookies.unidadeditorial.es/js/policy.js" async></script>
    <div class="lightbox_shadow no-visible" id="js-popup"></div>
    <script>
    var nav_continua_active = true;
    </script>
    <script type="text/javascript">
    ! function(t) { var e; "undefined" != typeof window ? e = window : "undefined" != typeof self && (e = self), e.lazyload = t() }(function() { return function t(e, n, r) {
            function o(u, c) { if (!n[u]) { if (!e[u]) { var f = "function" == typeof require && require; if (!c && f) return f(u, !0); if (i) return i(u, !0); var a = new Error("Cannot find module '" + u + "'"); throw a.code = "MODULE_NOT_FOUND", a } var l = n[u] = { exports: {} };
                    e[u][0].call(l.exports, function(t) { var n = e[u][1][t]; return o(n ? n : t) }, l, l.exports, t, e, n, r) } return n[u].exports } for (var i = "function" == typeof require && require, u = 0; u < r.length; u++) o(r[u]); return o }({ 1: [function(t, e, n) {
                (function(n) {
                    function r(t) {-1 === c.call(a, t) && a.push(t) }

                    function o(t) {
                        function e(t) { var e = n(t);
                            e && (t.src = e), t.setAttribute("data-lzled", !0), i[c.call(i, t)] = null }

                        function n(e) { return "function" == typeof t.src ? t.src(e) : e.getAttribute(t.src) }

                        function o(n) { d && n.classList.add(t.deprecated), n.onload = null, n.removeAttribute("onload"), n.onerror = null, n.removeAttribute("onerror"), -1 === c.call(i, n) && f(n, t, e) } t = u({ offset: 1048, src: "data-src", container: !1, deprecated: "force-size" }, t || {}), "string" == typeof t.src && r(t.src); var i = []; return o }

                    function i(t) { var e = "HTML" + t + "Element"; if (e in n != !1) { var r = n[e].prototype.getAttribute;
                            n[e].prototype.getAttribute = function(t) { if ("src" === t) { for (var e, n = 0, o = a.length; o > n && !(e = r.call(this, a[n])); n++); return e || r.call(this, t) } return r.call(this, t) } } }

                    function u(t, e) { for (var n in t) void 0 === e[n] && (e[n] = t[n]); return e }

                    function c(t) { for (var e = this.length; e-- && this[e] !== t;); return e } e.exports = o; var f = t("in-viewport"),
                        a = ["data-src"],
                        l = function() { var t = navigator.userAgent,
                                e = /like android/i.test(t),
                                n = function(e) { var n = t.match(e); return n && n.length > 1 && n[1] || "" },
                                r = {}; return r.device = /tablet/i.test(t) || /[^-]mobi/i.test(t), r.chrome = /CrOS|chrome|crios|crmo/i.test(t), r.android = !e && /android/i.test(t), r.osVersion = r.android && n(/android[ \/-](\d+(\.\d+)*)/i), r.version = n(/version\/(\d+(\.\d+)?)/i), r.device && !r.chrome && r.android && parseFloat(r.osVersion) < 4.4 && parseInt(r.version) <= 4 },
                        d = l();
                    n.lzld = o(), i("Image"), i("IFrame") }).call(this, "undefined" != typeof global ? global : "undefined" != typeof self ? self : "undefined" != typeof window ? window : {}) }, { "in-viewport": 2 }], 2: [function(t, e, n) {
                (function(t) {
                    function n(e, n, r) { var o = { container: t.document.body, offset: 0 };
                        (void 0 === n || "function" == typeof n) && (r = n, n = {}); for (var u = o.container = n.container || o.container, c = o.offset = n.offset || o.offset, a = 0; a < f.length; a++)
                            if (f[a].container === u) return f[a].isInViewport(e, c, r); return f[f.push(i(u)) - 1].isInViewport(e, c, r) }

                    function r(t, e, n) { t.attachEvent ? t.attachEvent("on" + e, n) : t.addEventListener(e, n, !1) }

                    function o(t, e, n) { var r; return function() {
                            function o() { r = null, n || t.apply(i, u) } var i = this,
                                u = arguments,
                                c = n && !r;
                            clearTimeout(r), r = setTimeout(o, e), c && t.apply(i, u) } }

                    function i(e) {
                        function n(t, e, n) { if (!n) return d(t, e); var r = i(t, e, n); return r.watch(), r }

                        function i(t, e, n) {
                            function r() { s.add(t, e, n) }

                            function o() { s.remove(t) } return { watch: r, dispose: o } }

                        function f(t, e, n) { d(t, e) && (s.remove(t), n(t)) }

                        function d(n, r) { if (!l(t.document.documentElement, n) || !l(t.document.documentElement, e)) return !1; if (!n.offsetWidth || !n.offsetHeight) return !1; var o = n.getBoundingClientRect(),
                                i = {}; if (e === t.document.body) i = { top: -r, left: -r, right: t.document.documentElement.clientWidth + r, bottom: t.document.documentElement.clientHeight + r };
                            else { var u = e.getBoundingClientRect();
                                i = { top: u.top - r, left: u.left - r, right: u.right + r, bottom: u.bottom + r } } var c = o.right >= i.left && o.left <= i.right && o.bottom >= i.top && o.top <= i.bottom; return c } var s = u(),
                            p = e === t.document.body ? t : e,
                            v = o(s.checkAll(f), 15); return r(p, "scroll", v), p === t && r(t, "resize", v), a && c(s, e, v), setInterval(v, 150), { container: e, isInViewport: n } }

                    function u() {
                        function t(t, e, n) { r(t) || i.push([t, e, n]) }

                        function e(t) { var e = n(t); - 1 !== e && i.splice(e, 1) }

                        function n(t) { for (var e = i.length - 1; e >= 0; e--)
                                if (i[e][0] === t) return e; return -1 }

                        function r(t) { return -1 !== n(t) }

                        function o(t) { return function() { for (var e = i.length - 1; e >= 0; e--) t.apply(this, i[e]) } } var i = []; return { add: t, remove: e, isWatched: r, checkAll: o } }

                    function c(t, e, n) {
                        function r(t) { t.some(o) === !0 && setTimeout(n, 0) }

                        function o(e) { var n = c.call([], Array.prototype.slice.call(e.addedNodes), e.target); return u.call(n, t.isWatched).length > 0 } var i = new MutationObserver(r),
                            u = Array.prototype.filter,
                            c = Array.prototype.concat;
                        i.observe(e, { childList: !0, subtree: !0, attributes: !0 }) } e.exports = n; var f = [],
                        a = "function" == typeof t.MutationObserver,
                        l = t.document.documentElement.compareDocumentPosition ? function(t, e) { return !!(16 & t.compareDocumentPosition(e)) } : t.document.documentElement.contains ? function(t, e) { return t !== e && (t.contains ? t.contains(e) : !1) } : function(t, e) { for (; e = e.parentNode;)
                                if (e === t) return !0; return !1 } }).call(this, "undefined" != typeof global ? global : "undefined" != typeof self ? self : "undefined" != typeof window ? window : {}) }, {}] }, {}, [1])(1) });
    </script>
    <script>
    lazyload({ offset: 480, 'deprecated': 'force-size' });
    </script>
    <script type="text/javascript">
    var cookieList = document.cookie.split(";");
    for (index in cookieList) { if (typeof cookieList[index] == "string" && cookieList[index].indexOf("REGMARCA") != -1) { var ifr = document.createElement("iframe");
            ifr.src = "https://5214106.fls.doubleclick.net/activityi;src=5214106;type=corp;cat=regis00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=" + Math.random() * 1000000000000 + "?";
            ifr.width = "1";
            ifr.height = "1";
            ifr.style.display = "none";
            ifr.setAttribute("frameborder", "0"); var node = document.body.getElementsByTagName("script")[0];
            node.parentNode.insertBefore(ifr, node); break; } }
    </script>
    <noscript>
        <iframe src="https://5214106.fls.doubleclick.net/activityi;src=5214106;type=corp;cat=regis00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <script type="text/javascript">
    var data = { "networkId": "99071977", "divId": "div-gpt-ad-futbol_primera-division_e", "customTargeting": {}, "adSlots": [{ "adUnit": "mc-mv2/futbol/primera-division/e", "sizes": [
                [320, 50],
                [320, 53],
                [320, 100],
                [320, 120],
                [1, 1]
            ], "customTargeting": { "p": ["m"] } }] };
    var adUnits = [{ sizeMapping: [{ minWidth: 1024, sizes: [
                [728, 90],
                [970, 90],
                [970, 250],
                [980, 90],
                [980, 250],
                [990, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-LDB1", bids: [{ bidder: "appnexus", params: { placementId: "11595052" } }, { bidder: "rubicon", params: { zoneId: 663036, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788297 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 54639, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [728, 90],
                [970, 90],
                [970, 250],
                [980, 90],
                [980, 250],
                [990, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-LDB2", bids: [{ bidder: "appnexus", params: { placementId: "11595053" } }, { bidder: "rubicon", params: { zoneId: 663040, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788298 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 54640, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU1", bids: [{ bidder: "appnexus", params: { placementId: "11595057" } }, { bidder: "rubicon", params: { zoneId: 663050, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788301 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40859, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU2", bids: [{ bidder: "appnexus", params: { placementId: "11595058" } }, { bidder: "rubicon", params: { zoneId: 663056, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788302 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40974, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU3", bids: [{ bidder: "appnexus", params: { placementId: "11595059" } }, { bidder: "rubicon", params: { zoneId: 663058, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792342 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40975, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU4", bids: [{ bidder: "appnexus", params: { placementId: "11595060" } }, { bidder: "rubicon", params: { zoneId: 663060, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792344 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40976, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024, sizes: [
                [300, 250]
            ] }, { minWidth: 0 }], code: "div-gpt-ad-MPU5", bids: [{ bidder: "appnexus", params: { placementId: "11595061" } }, { bidder: "rubicon", params: { zoneId: 663062, siteId: 142576, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792346 } }, { bidder: "smartadserver", params: { pageId: 648549, formatId: 40977, siteId: 99913, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [320, 50],
                [320, 53],
                [320, 100]
            ] }], code: "div-gpt-ad-LDB1", bids: [{ bidder: "appnexus", params: { placementId: "11595040" } }, { bidder: "rubicon", params: { zoneId: 663146, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788327 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 54723, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [320, 50],
                [320, 53],
                [320, 100]
            ] }], code: "div-gpt-ad-LDB2", bids: [{ bidder: "appnexus", params: { placementId: "11595041" } }, { bidder: "rubicon", params: { zoneId: 663148, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788328 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 54724, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }], code: "div-gpt-ad-MPU1", bids: [{ bidder: "appnexus", params: { placementId: "11595043" } }, { bidder: "rubicon", params: { zoneId: 663156, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 788330 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40859, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250]
            ] }], code: "div-gpt-ad-MPU2", bids: [{ bidder: "appnexus", params: { placementId: "11595044" } }, { bidder: "rubicon", params: { zoneId: 663158, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792377 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40974, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250],
                [300, 300],
                [300, 600]
            ] }], code: "div-gpt-ad-MPU3", bids: [{ bidder: "appnexus", params: { placementId: "11595045" } }, { bidder: "rubicon", params: { zoneId: 663160, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792378 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40975, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250]
            ] }], code: "div-gpt-ad-MPU4", bids: [{ bidder: "appnexus", params: { placementId: "11595046" } }, { bidder: "rubicon", params: { zoneId: 663162, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792380 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40976, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }, { sizeMapping: [{ minWidth: 1024 }, { minWidth: 0, sizes: [
                [300, 250]
            ] }], code: "div-gpt-ad-MPU5", bids: [{ bidder: "appnexus", params: { placementId: "11595047" } }, { bidder: "rubicon", params: { zoneId: 663164, siteId: 142592, accountId: 15366 } }, { bidder: "criteo", params: { zoneId: 792381 } }, { bidder: "smartadserver", params: { pageId: 648550, formatId: 40977, siteId: 99914, domain: "https://prg.smartadserver.com" } }] }];

    var map = {
        'div-gpt-ad-LDB1': 'm',
        'div-gpt-ad-LDB2': 'mb',
        'div-gpt-ad-MPU1': 'r',
        'div-gpt-ad-MPU2': 'rb',
        'div-gpt-ad-MPU3': 'rc',
        'div-gpt-ad-MPU4': 'rd',
        'div-gpt-ad-MPU5': 're',
    };

    adUnits.forEach(function(item) {
        if (item.code in map) {
            item.code = data.divId + '_' + map[item.code] + '_597899bf22601d00098b45ad';
        }
    });

    if (typeof pbjs !== 'undefined') {
        pbjs.que.push(function() {
            pbjs.setPriceGranularity("dense");
            pbjs.enableSendAllBids();

            pbjs.enableAnalytics([{
                provider: "appnexus",
                options: {
                    memberId: 7669
                }
            }]);

            pbjs.addAdUnits(adUnits);

            pbjs.requestBids({
                timeout: 1000,
                bidsBackHandler: function() {
                    initAdServer();
                }
            });
        });
    }

    googletag.cmd.push(function() {
        data.customTargeting.t = ['primera-division-es'];
        data.customTargeting.tag = [''];
        data.customTargeting.ueseg = [''];
        data.customTargeting.ueid = ['2D33A276053178EC-60000118204FDA8E'];


        window["ueDFPData"] = data;

        function kruxretrieve(n) {
            var m, k = 'kxunidad_' + n;
            if (window.localStorage) {
                return window.localStorage[k] || '';
            } else if (navigator.cookieEnabled) {
                m = document.cookie.match(k + '=([^;]*)');
                return (m && unescape(m[1])) || '';
            } else {
                return '';
            }
        }
        data.customTargeting.kuid = 'NoDefinido';
        data.customTargeting.ksegs = 'NoDefinido';
        var kuser = kruxretrieve('user');
        if (kuser) {
            data.customTargeting.kuid = kuser;
        }
        var ksegments = kruxretrieve('segs');
        if (ksegments) {
            data.customTargeting.ksegs = ksegments.split(',');
        }

        data.adSlots.forEach(function(adSlot, i) {
            var slotIndex = i + 1;
            var adUnit = adSlot.adUnit ? adSlot.adUnit : data.adUnit;
            adUnit = '/' + data.networkId + '/' + adUnit;
            var divId = data.divId + '_' + adSlot.customTargeting.p.join('_');

            divId += '_' + '597899bf22601d00098b45ad'

            if (adSlot.sizes) {
                gptadslots[slotIndex] = googletag.defineSlot(adUnit, adSlot.sizes, divId);
            } else {
                gptadslots[slotIndex] = googletag.defineOutOfPageSlot(adUnit, divId);
            }




            for (var key in adSlot.customTargeting) {
                if (adSlot.customTargeting.hasOwnProperty(key)) {
                    gptadslots[slotIndex].setTargeting(key, adSlot.customTargeting[key]);
                }
            }
            gptadslots[slotIndex].addService(googletag.pubads());
        });

        if ((typeof DisableenableSingleRequest === 'undefined') || !DisableenableSingleRequest) {
            googletag.pubads().enableSingleRequest();
        }

        for (var key in data.customTargeting) {
            if (data.customTargeting.hasOwnProperty(key)) {
                googletag.pubads().setTargeting(key, data.customTargeting[key]);
            }
        }

        googletag.pubads().enableAsyncRendering();
        if ((typeof gptIsDisableInitialLoad !== 'undefined') && gptIsDisableInitialLoad) {
            googletag.pubads().disableInitialLoad();
        }
        if (typeof pbjs !== 'undefined') {
            pbjs.que.push(function() {
                pbjs.setTargetingForGPTAsync();
            });
        }
        googletag.enableServices();
    });
    </script>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8&appId=160427764002568&status=true&cookie=true";
        fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="js-mobile-banner"></div>
    <header class="super-menu-header js-cnav-header  ochenta-aniversario   inside " data-menu-nivel="home">
        <div class="container-header">
            <div class="logo"><a href="http://www.marca.com/" title="Marca.com"><span class="hidden-content">Marca</span><svg class="logo-marca" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173 50" fill="#c00"><path d="M27.9 1.4h15v10.3h-2.6v26.6h2.6v10.4h-16V38.3h2.5V21.7L22 42l-7.3-20.3v16.6h2.6v10.4H1.1V38.3h2.6V11.7H1V1.4h15.6l5.6 16"/><g class="arca"><path d="M75.1 38.3l-5.9-37H52.3l-5.9 37h-1.9v10.3h14.7V38.3h-1.9l.1-3.9h6.8v3.9h-2v10.3H77V38.3h-1.9zM58.4 28.2l2.3-14.6 2.4 14.6h-4.7z"/><path d="M107.7 38.3v-9.2l-4-4 4-4V6.4l-4.9-5H78.7v10.2h2.5v26.6h-2.5v10.4h16V38.3h-1.8v-8.5h3.4v18.9h14.1V38.3h-2.7zM96.2 22.4h-3.5V11.6h3.5v10.8z"/><path d="M132.9 1.4l5 5V21h-11.5v-9.2l-3.4-.1v26.6h3.4v-9.2h11.5v14.5l-5 5.1h-16.3l-4.8-5.1V6.4l4.8-5"/><path d="M170.1 38.3l-5.9-37h-16.8l-5.9 37h-1.8v10.3h14.6V38.3h-1.9l.1-3.9h6.8v3.9h-1.9v10.3H172V38.3h-1.9zm-16.7-10.1l2.3-14.6 2.4 14.6h-4.7z"/></g></svg></a></div>
            <ul class="nav-toggle">
                <li class="tools-corporative-login toolbar-login nav-login">
                    <a href='#' title='Login' class='tools-corporative-link js-loginClick js-loginButton'><span>Iniciar sesi&oacute;n</span><i class="icon-login"></i></a>
                    <script>
                    jQuery(function() { if (location.href.indexOf("elmundo.es/yodona") !== -1) { jQuery(".js-loginClick").attr("ue-attr-csp", "10081"); } else if (location.href.indexOf("expansion.com/fueradeserie") !== -1) { jQuery(".js-loginClick").attr("ue-attr-csp", "10082"); } });
                    </script>
                </li>
            </ul>
        </div>
        <input type="checkbox" id="show-super-menu" role="button" class="check-super-menu">
        <label for="show-super-menu" class="show-super-menu iconsvg-header iconsvg-menu-b js-clickMenuMobile" data-menu-section-path-click="http://www.marca.com/assets/externos/v9/menu/supermenu-mobile.html"><span>Men&uacute;</span></label>
        <div class="breadcrumbs">
            <div class="container-header">
                <ul class="tab-breadcrumb js-containerbreadcrumb">
                    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope class="home" itemref="bread-1" id="bread-0"><a itemprop="url" title="MARCA.com" href="http://www.marca.com?cid=MENUMIGA35903&s_kw=home"><span itemprop="title">Inicio</span></a><span class="arrow"></span></li>
                    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope itemprop="child" class="first-level" itemref="bread-2" id="bread-1"><a href="http://www.marca.com/futbol.html?cid=MENUMIGA35903&s_kw=futbol" itemprop="url"><span itemprop="title">Fútbol</span></a><span class="arrow"></span></li>
                    <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope itemprop="child" class="second-level" id="bread-2"><a href="http://www.marca.com/futbol/primera-division.html?cid=MENUMIGA35903&s_kw=laliga-santander" itemprop="url"><span itemprop="title">LaLiga Santander</span></a><span class="arrow"></span></li>
                </ul>
            </div>
        </div>
        <div data-insertar class="super-menu"></div>
    </header>
    <main role="main" class="main futbol js_navContinua" data-ue-contenido id="js_597899bf22601d00098b45ad">
        <aside class="content-ad">
            <div class="ad-item-f">
                <div id='div-gpt-ad-futbol_primera-division_e_f_597899bf22601d00098b45ad' class="ad-item">
                    <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_primera-division_e_f_597899bf22601d00098b45ad'); });
                    </script>
                </div>
            </div>
        </aside>
        <section class="row-layout">
            <div class="container">
                <h1 class="tab-title-text">LaLiga Santander</h1></div>
            <div class="tabs-content">
                <ul class="tab-breadcrumb-list js-breadcrumbChildren">
                    <li data-section="noticias"><a title="Noticias" href="http://www.marca.com/futbol/primera-division.html?intcmp=TABAGEN01&s_kw=noticias">Noticias</a></li>
                    <li data-section="resultados"><a title="Resultados" href="http://www.marca.com/resultados/futbol/liga-santander.html?intcmp=TABAGEN01&s_kw=resultados">Resultados</a></li>
                    <li data-section="calendario"><a title="Calendario" href="http://www.marca.com/futbol/primera/calendario.html?intcmp=TABAGEN01&s_kw=calendario">Calendario</a></li>
                    <li data-section="clasificacion"><a title="Clasificación" href="http://www.marca.com/futbol/primera-division/clasificacion.html?intcmp=TABAGEN01&s_kw=clasificacion">Clasificación</a></li>
                    <li data-section="pichichi-y-zamora"><a title="Pichichi y Zamora " href="http://www.marca.com/futbol/primera-division/pichichi.html?intcmp=TABAGEN01&s_kw=pichichi-y-zamora">Pichichi y Zamora </a></li>
                    <li data-section="equipos-y-jugadores"><a title="Equipos y jugadores" href="http://www.marca.com/futbol/primera/equipos.html?intcmp=TABAGEN01&s_kw=equipos-y-jugadores">Equipos y jugadores</a></li>
                    <li data-section="mercado-de-fichajes"><a title="Mercado de fichajes" href="http://www.marca.com/futbol/primera-division/mercado-fichajes/index.html?intcmp=TABAGEN01&s_kw=mercado-de-fichajes">Mercado de fichajes</a></li>
                    <li data-section="pretemporada"><a title="Pretemporada" href="http://www.marca.com/futbol/primera-division/pretemporada?intcmp=TABAGEN01&s_kw=pretemporada">Pretemporada</a></li>
                    <li data-section="estadisticas"><a title="Estadísticas" href="http://www.marca.com/estadisticas/futbol/primera/?intcmp=TABAGEN01&s_kw=estadisticas">Estadísticas</a></li>
                    <li data-section="la-jornada"><a title="La jornada" href="http://www.marca.com/eventos/marcador/futbol/2017_18/primera/?intcmp=TABAGEN01&s_kw=la-jornada">La jornada</a></li>
                </ul>
            </div>
            <aside class="content-ad">
                <div class="ad-item">
                    <div id='div-gpt-ad-futbol_primera-division_e_m_597899bf22601d00098b45ad' class="ad-item">
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-futbol_primera-division_e_m_597899bf22601d00098b45ad'); });
                        </script>
                    </div>
                </div>
            </aside>
            <div class="container">
               
                {{> includes/ue-lineup }}

            </div>
        </section>
        <script>
        jQuery(function() {
            if (typeof jQuery.fn.Tab === 'function') { jQuery('#js_597899bf22601d00098b45ad').find('.js-tabs').Tab(); }
            jQuery('#js_597899bf22601d00098b45ad').find('.js_socialMedia').RedesSociales({ title: "Resultados y directos de LaLiga Santander", img: "http://e00-marca.uecdn.es/assets/v7/img/logo-marca.png", url: "http://www.marca.com/resultados/futbol/liga-santander.html", summary: "Resultados y directos de LaLiga Santander", viaTwitter: "marca", urlCorreo: 'http://www.marca.com/enviar/formulario_enviar_noticia.html?que_mundo=marca', sufijoAnalitica: '_1' });
            if (jQuery('.YT-player').length > 0 && jQuery('script[src*="https://www.youtube.com/iframe_api"]').length === 0) { try { var s = document.createElement('script');
                    s.async = 'true';
                    s.type = 'text/javascript';
                    s.src = 'https://www.youtube.com/iframe_api'; var node = document.getElementsByTagName('script')[0];
                    node.parentNode.insertBefore(s, node); } catch (e) { console.error(e); }; } else { if (jQuery('script[src*="https://www.youtube.com/iframe_api"]').length > 0) { document.dispatchEvent(event_youtube_player); } }
            jQuery("#js_597899bf22601d00098b45ad .js-breadcrumbChildren li a[href^='http://www.marca.com/resultados/futbol/liga-santander.html']").closest("li").addClass("active");
            jQuery(document).on("contentLoaded", function(event, data) { var mainData = MetadataCache.getItemCached(data.nIndex);
                jQuery("#js_" + mainData.content.global.contentId + " .js-breadcrumbChildren li a[href^='" + mainData.content.global.url + "']").closest("li").addClass("active"); });
        });
        </script>
    </main>
    <footer class="site-footer horizontal" itemtype="http://schema.org/Organization">
        <div class="container-list-footer js-toggle-footer">
            <div class="js-botonera-toggle arrow-toggle">
                <span>
                    Otras webs de Unidad Editorial
                    <i data-click-role="icon-close" class="icon-arrow-up no-visible"></i>
                    <i data-click-role="icon-open" class="icon-arrow-down"></i>
                </span>
            </div>
            <div class="js-contenido-toggle container-toggle">
                <div class="clearfix">
                    <ul class="list-footer">
                        <li class="highlight"><span>Marca</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/mundo-marca/2017/01/18/587f574fe2704e47368b45ff.html" title="App Marca" target="_blank" itemprop="url"><span itemprop="name">App Marca</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="https://deportes.marcaapuestas.es/es" title="Apuestas Deportivas" target="_blank" itemprop="url"><span itemprop="name">Apuestas Deportivas</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/futbol/primera/clasificacion.html" title="Clasificaci&oacute;n LaLiga" target="_blank" itemprop="url"><span itemprop="name">Clasificaci&oacute;n LaLiga</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/futbol/primera/calendario.html" title="Calendario LaLiga" target="_blank" itemprop="url"><span itemprop="name">Calendario LaLiga</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/hemeroteca/" title="Hemeroteca Marca" target="_blank" itemprop="url"><span itemprop="name">Hemeroteca Marca</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="https://esports.marca.com/" title="Marca eSports" target="_blank" itemprop="url"><span itemprop="name">Marca eSports</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://app.marca.com/Estadisticas/JuegosMunicipales/Controlador" title="Marca Madrid" target="_blank" itemprop="url"><span itemprop="name">Marca Madrid</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="https://clk.tradedoubler.com/click?p=271538&a=2407712&g=23657338" title="Marca en Orbyt" target="_blank" itemprop="url"><span itemprop="name">Marca en Orbyt</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="https://clk.tradedoubler.com/click?p=286063&a=2407712&g=24123938" title="Zona Marca" target="_blank" itemprop="url"><span itemprop="name">Zona Marca</span></a></li>
                    </ul>
                    <div id="pixelcontabilizacionNLalerta" class="pixelcontabilizacion" style="position:absolute;top:0px;left:0px;width:1px;height:1px;z-index:1">
                        <img src="https://impes.tradedoubler.com/imp?type(inv)g(23657338)a(2407712)" width="1" height="1" alt/>
                    </div>
                    <ul class="list-footer">
                        <li class="highlight"><span>Ocio y Moda</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.marca.com/tiramillas.html" title="Tiramillas" target="_blank" itemprop="url"><span itemprop="name">Tiramillas</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.telva.com/" title="Moda - Telva" target="_blank" itemprop="url"><span itemprop="name">Moda - Telva</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.buhomag.com/" title="BUHO Magazine" target="_blank" itemprop="url"><span itemprop="name">BUHO Magazine</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.elmundo.es/traductor/" title="Traductor" target="_blank" itemprop="url"><span itemprop="name">Traductor</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.elmundo.es/television/programacion-tv/" title="Programaci&oacute;n TV" target="_blank" itemprop="url"><span itemprop="name">Programaci&oacute;n TV</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="https://www.marcaentradas.com/" title="Marca Entradas" target="_blank" itemprop="url"><span itemprop="name">Marca Entradas</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.mibebeyyo.com/" title="Mi beb&eacute; y yo" target="_blank" itemprop="url"><span itemprop="name">Mi beb&eacute; y yo</span></a></li>
                    </ul>
                    <ul class="list-footer">
                        <li class="highlight"><span>Unidad Editorial</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.elmundo.es/" title="El Mundo" target="_blank" itemprop="url"><span itemprop="name">El Mundo</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.expansion.com/" title="Expansi&oacute;n" target="_blank" itemprop="url"><span itemprop="name">Expansi&oacute;n</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.cuidateplus.com/" title="Cu&iacute;date Plus" target="_blank" itemprop="url"><span itemprop="name">Cu&iacute;date Plus</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.diariomedico.com/" title="Diario M&eacute;dico" target="_blank" itemprop="url"><span itemprop="name">Diario M&eacute;dico</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.correofarmaceutico.com/" title="Correo Farmac&eacute;utico" target="_blank" itemprop="url"><span itemprop="name">Correo Farmac&eacute;utico</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://suscripcion.marca.com/" title="Suscripci&oacute;n Marca" target="_blank" itemprop="url"><span itemprop="name">Suscripci&oacute;n Marca</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://suscripcion.elmundo.es/" title="Suscripci&oacute;n El Mundo" target="_blank" itemprop="url"><span itemprop="name">Suscripci&oacute;n El Mundo</span></a></li>
                    </ul>
                    <ul class="list-footer">
                        <li class="highlight"><span>Formaci&oacute;n y Empleo</span> </li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.escuelaunidadeditorial.es/medios/marca/" title="Escuela Unidad Editorial" target="_blank" itemprop="url"><span itemprop="name">Escuela Unidad Editorial</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.unidadeditorial.es/" title="Unidad Editorial" target="_blank" itemprop="url"><span itemprop="name">Unidad Editorial</span></a></li>
                        <li itemprop="member" itemtype="http://schema.org/Organization"><a href="http://www.expansionyempleo.com/" title="Expansi&oacute;n y Empleo" target="_blank" itemprop="url"><span itemprop="name">Expansi&oacute;n y Empleo</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-about-footer">
            <ul class="about-list">
                <li class="copyright">
                    <p>&copy; Enero 2018
                        <span itemprop="name"> Unidad Editorial Informaci&oacute;n Deportiva, S.L.U. Todos los derechos reservados.</span></p>
                </li>
                <li><a href="http://www.marca.com/corporativo/aviso-legal.html" target="_blank" title="T&eacute;rminos y condiciones de uso">T&eacute;rminos y condiciones de uso</a></li>
                <li><a href="http://www.marca.com/corporativo/politica_privacidad.html" target="_blank" title="Pol&iacute;tica de privacidad">Pol&iacute;tica de privacidad</a></li>
                <li><a href="http://cookies.unidadeditorial.es/" target="_blank" title="Pol&iacute;tica de cookies">Pol&iacute;tica de cookies</a></li>
                <li><a href="http://www.ojd.es/" target="_blank" title="Certificado por OJD">Certificado por OJD</a></li>
                <li><a href="http://www.marca.com/corporativo/contacto.html" target="_blank" title="Contacto">Contacto</a></li>
                <li><a href="http://www.unidadeditorial.com/publicidad" target="_blank" title="Publicidad">Publicidad</a></li>
                <li><a href="http://www.marca.com/corporativo/ayuda.html" target="_blank" title="Ayuda">Ayuda</a></li>
                <li><a href="http://www.marca.com/corporativo/el_equipo.html" target="_blank" title="Nuestro equipo">Nuestro equipo</a></li>
                <li><a href="https://www.uesyndication.com/" target="_blank" title="Venta de contenidos">Venta de contenidos</a></li>
            </ul>
            <aside class="follow-us">
                <p>S&iacute;guenos en</p>
                <ul class="social-networks">
                    <li title="Facebook"><a class="icon-facebook" href="https://www.facebook.com/MARCA" target="_blank" itemprop="sameAs"><span>Facebook</span></a></li>
                    <li title="Twitter"><a class="icon-twitter" href="https://twitter.com/marca" target="_blank" itemprop="sameAs"><span>Twitter</span></a></li>
                    <li title="Google Plus"><a class="icon-google" href="https://plus.google.com/+DiarioMARCA/posts" target="_blank" itemprop="sameAs"><span>Google Plus</span></a></a>
                    </li>
                    <li title="RSS"><a class="icon-rss" href="http://www.marca.com/deporte/rss/" target="_blank" itemprop="sameAs"><span>RSS</span></a></li>
                </ul>
            </aside>
        </div>
    </footer>
    <script>
    jQuery.noConflict();
    </script>
    <script>
    jQuery(document).ready(function() { var android = ((navigator.userAgent.indexOf('Android') != -1)) ? true : false; if (android) { if (typeof jQuery.fn.MobileAppBanner === 'function') { jQuery(".js-mobile-banner").MobileAppBanner({ mab_lang: 'es' /*idioma*/ }); } } });
    </script>
    <script language="JavaScript" type="text/javascript" data-ue-omniture>
    <!--
    var s = {};
    var pageName = "http://www.marca.com/resultados/futbol/liga-santander.html";
    s.pageType = "";
    s.pageName = "http://www.marca.com/resultados/futbol/liga-santander.html";
    s.channel = "futbol";
    s.prop1 = "primera-division-es";
    s.prop2 = "pagina";
    s.prop3 = "primera-division";
    s.prop4 = "";
    s.prop5 = "";
    s.prop6 = "Resultados y directos de LaLiga Santander-597899bf22601d00098b45ad";
    s.prop7 = "marca.com";
    s.prop11 = "";
    s.hier1 = "marca.com|futbol|primera-division|pagina";
    s.prop27 = "movil";
    s.prop28 = "0|0";
    s.prop29 = "";
    s.list2 = "";
    s.prop30 = "";
    s.prop52 = navigator.platform;
    s.prop53 = "";
    s.prop31 = "futbol";
    s.prop32 = "pagecontent";
    s.prop33 = "primera-division-es";
    s.prop34 = "movil";
    s.prop35 = "origen";
    s.prop36 = "";
    s.prop39 = "nuevo-01-30";
    s.prop55 = "";
    s.prop75 = ""; /*Conversion Variables*/
    s.eVar1 = s.channel;
    s.eVar2 = s.prop1;
    s.eVar3 = s.prop2;
    s.eVar4 = s.prop3;
    s.eVar5 = s.prop5;
    s.eVar11 = s.prop11;
    s.eVar35 = s.prop4;
    s.eVar31 = s.prop6;
    s.eVar36 = s.prop7;
    s.eVar27 = s.prop27;
    s.eVar28 = s.prop28;
    s.eVar29 = s.prop29;
    s.eVar30 = s.prop30;
    s.eVar45 = s.prop32;
    s.eVar33 = s.prop33;
    s.eVar34 = s.prop34;
    s.eVar39 = s.prop39;
    s.eVar52 = s.prop52;
    s.eVar75 = s.prop75;
    s.eVar80 = s.prop53;
    s.eVar84 = s.prop35;
    s.eVar85 = s.prop36;
    var s_omniture = s; /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! */ //-->
    </script>
    <script type="text/javascript">
    function DM_prepClient(csid, client) { client.DM_cat("futbol > primera-division-es > pagina"); }
    </script>
    <script>
    if (typeof gptIsDisableInitialLoad !== 'undefined' && gptIsDisableInitialLoad === true) { googletag.cmd.push(function() { googletag.pubads().refresh(); }); }
    </script>
    <script type="text/javascript" src="http://e00-marca.uecdn.es/assets/v9/js/mobile.min.js"></script>
    <script type="text/javascript">
    function onYouTubeIframeAPIReady() { document.dispatchEvent(event_youtube_player); };
    </script><img src="//amplifypixel.outbrain.com/pixel?mid=0025e676e1e85b1dcdde3bb0b1e620cc71">
    <!-- SiteCatalyst code version: H.21.  Copyright 1996-2010 Adobe, Inc. All Rights Reserved More info available at /web/20151202224104/http://www.omniture.com -->
    <script type="text/javascript">
    _satellite.pageBottom();
    </script>
    <script type="text/javascript">
    window.optimizely = window.optimizely || [];
    window.optimizely.push("activateSiteCatalyst");
    </script>
    <script language="JavaScript" type="text/javascript">
    <!--
    if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '!-' + '-')
    //-->
    </script>
    <noscript><img src="http://metrics.el-mundo.net/b/ss/uevistatest/1/H.21--NS/0" height="1" width="1" border="0" alt="" /></noscript>
    <!--/DO NOT REMOVE/-->
    <!-- End SiteCatalyst code version: H.21. -->
</body>

</html>