<div class="ue-c-lineup">
  
    <section class="ue-c-lineup__team is-home-team has-lineup_4312">
        <div class="ue-c-lineup__player is-player__1">

          <div class="ue-c-lineup__player-wrapper">
            <div class="is-up-left">
              <span class="ue-c-lineup__player-goals">2</span>
            </div>
            <div class="is-down-left">
              <span class="ue-c-lineup__player-own-goal">1</span>
            </div>
            <div class="is-up-right">
              <span class="ue-c-lineup__player-card">X</span>
            </div>
            <div class="is-down-right">
              <span class="ue-c-lineup__injury">+</span>
              <span class="ue-c-lineup__change"><></span>
            </div>
            <div class="is-centered">
              <span class="ue-c-lineup__player-number">1</span>
            </div>
          </div>
          <div class="ue-c-lineup__player-name">
            <span>Manoel Rezende de Matos Cabral Nelinho</span>
          </div>
        </div>
        <div class="ue-c-lineup__player is-player__2">
          <div class="ue-c-lineup__player-wrapper">
            <span class="ue-c-lineup__player-number">2</span>
          </div>
          <div class="ue-c-lineup__player-name"><span>Manoel Rezende de Matos Cabral Nelinho</span></div>
        </div>
        <div class="ue-c-lineup__player is-player__3">
          <span class="ue-c-lineup__player-number">3</span>
        </div>
        <div class="ue-c-lineup__player is-player__4">
          <span class="ue-c-lineup__player-number">4</span>
        </div>
        <div class="ue-c-lineup__player is-player__5">
          <span class="ue-c-lineup__player-number">5</span>
        </div>
        <div class="ue-c-lineup__player is-player__6">
          <span class="ue-c-lineup__player-number">6</span>
        </div>
        <div class="ue-c-lineup__player is-player__7">
          <span class="ue-c-lineup__player-number">7</span>
        </div>
        <div class="ue-c-lineup__player is-player__8">
          <span class="ue-c-lineup__player-number">8</span>
        </div>
        <div class="ue-c-lineup__player is-player__9">
          <span class="ue-c-lineup__player-number">9</span>
        </div>
        <div class="ue-c-lineup__player is-player__10">
          <span class="ue-c-lineup__player-number">10</span>
        </div>
        <div class="ue-c-lineup__player is-player__11">
          <span class="ue-c-lineup__player-number">11</span>
        </div>
    </section>
    <section class="ue-c-lineup__team is-away-team has-lineup_4312">
        <div class="ue-c-lineup__player is-player__1">
          <span class="ue-c-lineup__player-number">1</span>
        </div>
        <div class="ue-c-lineup__player is-player__2">
          <span class="ue-c-lineup__player-number">2</span>
        </div>
        <div class="ue-c-lineup__player is-player__3">
          <span class="ue-c-lineup__player-number">3</span>
        </div>
        <div class="ue-c-lineup__player is-player__4">
          <span class="ue-c-lineup__player-number">4</span>
        </div>
        <div class="ue-c-lineup__player is-player__5">
          <span class="ue-c-lineup__player-number">5</span>
        </div>
        <div class="ue-c-lineup__player is-player__6">
          <span class="ue-c-lineup__player-number">6</span>
        </div>
        <div class="ue-c-lineup__player is-player__7">
          <span class="ue-c-lineup__player-number">7</span>
        </div>
        <div class="ue-c-lineup__player is-player__8">
          <span class="ue-c-lineup__player-number">8</span>
        </div>
        <div class="ue-c-lineup__player is-player__9">
          <span class="ue-c-lineup__player-number">9</span>
        </div>
        <div class="ue-c-lineup__player is-player__10">
          <span class="ue-c-lineup__player-number">10</span>
        </div>
        <div class="ue-c-lineup__player is-player__11">
          <span class="ue-c-lineup__player-number">11</span>
        </div>
    </section>
      
</div>
