<div class="ue-c-lineup">
  
    <section class="ue-c-lineup__team is-home-team has-lineup_4312">
        <div class="ue-c-lineup__player is-player__1">
          <span class="ue-c-lineup__player-name">1</span>
        </div>
        <div class="ue-c-lineup__player is-player__2">
          <span class="ue-c-lineup__player-name">2</span>
        </div>
        <div class="ue-c-lineup__player is-player__3">
          <span class="ue-c-lineup__player-name">3</span>
        </div>
        <div class="ue-c-lineup__player is-player__4">
          <span class="ue-c-lineup__player-name">4</span>
        </div>
        <div class="ue-c-lineup__player is-player__5">
          <span class="ue-c-lineup__player-name">5</span>
        </div>
        <div class="ue-c-lineup__player is-player__6">
          <span class="ue-c-lineup__player-name">6</span>
        </div>
        <div class="ue-c-lineup__player is-player__7">
          <span class="ue-c-lineup__player-name">7</span>
        </div>
        <div class="ue-c-lineup__player is-player__8">
          <span class="ue-c-lineup__player-name">8</span>
        </div>
        <div class="ue-c-lineup__player is-player__9">
          <span class="ue-c-lineup__player-name">9</span>
        </div>
        <div class="ue-c-lineup__player is-player__10">
          <span class="ue-c-lineup__player-name">10</span>
        </div>
        <div class="ue-c-lineup__player is-player__11">
          <span class="ue-c-lineup__player-name">11</span>
        </div>
    </section>
    <section class="ue-c-lineup__team is-away-team has-lineup_4312">
        <div class="ue-c-lineup__player is-player__1">
          <span class="ue-c-lineup__player-name">1</span>
        </div>
        <div class="ue-c-lineup__player is-player__2">
          <span class="ue-c-lineup__player-name">2</span>
        </div>
        <div class="ue-c-lineup__player is-player__3">
          <span class="ue-c-lineup__player-name">3</span>
        </div>
        <div class="ue-c-lineup__player is-player__4">
          <span class="ue-c-lineup__player-name">4</span>
        </div>
        <div class="ue-c-lineup__player is-player__5">
          <span class="ue-c-lineup__player-name">5</span>
        </div>
        <div class="ue-c-lineup__player is-player__6">
          <span class="ue-c-lineup__player-name">6</span>
        </div>
        <div class="ue-c-lineup__player is-player__7">
          <span class="ue-c-lineup__player-name">7</span>
        </div>
        <div class="ue-c-lineup__player is-player__8">
          <span class="ue-c-lineup__player-name">8</span>
        </div>
        <div class="ue-c-lineup__player is-player__9">
          <span class="ue-c-lineup__player-name">9</span>
        </div>
        <div class="ue-c-lineup__player is-player__10">
          <span class="ue-c-lineup__player-name">10</span>
        </div>
        <div class="ue-c-lineup__player is-player__11">
          <span class="ue-c-lineup__player-name">11</span>
        </div>
    </section>
      
</div>
